@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    background: url('~/assets/img/bg.png') 50% 0 repeat;
    height: fit-content;
    /* --glass-reflex-opacity: 0;
    --glass-opacity: .1 */
  }
}
@layer components {
  /* .current {
    @apply 'bg-gray-900 text-white';
  }
 */
}

