@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  background: #171717;
} */
body {
  position: relative;
  /* background: url('~/assets/img/bg.jpg') 0% 50% repeat #171717; */
}

[data-theme] {
  .defaultLayout {
    overflow: hidden;

    &:after {
      content: "";
      display: block;
      width: 390px;
      height: 590px;
      background: #11f5cc;
      top: 50%;
      margin-top: 200px;
      left: -440px;
      position: absolute;
      filter: blur(100px);
      opacity: 0.2;
    }

    &:before {
      content: "";
      display: block;
      width: 590px;
      height: 390px;
      /* background: radial-gradient(circle, rgba(158,17,245,0.13491334033613445) 0%, rgba(158,17,245,0) 41%); */
      top: -300px;
      right: 0;
      position: absolute;
      background: #11f5cc;
      filter: blur(200px);
      opacity: 0.3;
    }
  }
}

.drawer {
  &:before {
    content: "";
    display: block;
    width: 590px;
    height: 290px;
    background: #9e11f5;
    bottom: 0;
    left: 50%;
    margin-left: -290px;
    position: absolute;
    filter: blur(100px);
    opacity: 0.1;

    @media only screen and (max-width: 680px) {
      width: 490px;
    }
  }
}

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    height: fit-content;
    /* --glass-reflex-opacity: 0;
    --glass-opacity: .1 */
  }
}
@layer components {
  /* .current {
    @apply 'bg-gray-900 text-white';
  }
 */
}

/* theme variables override */
[data-theme="gtTheme"] {
  --rounded-box: 0.5rem;
}

.textBlock a{
  text-decoration: underline;
}