@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background: #171717;
}
body{
  position: relative;
  /* background: url('~/assets/img/bg.jpg') 0% 50% repeat #171717; */
  &:before{
    content: "";
    display: block;
    width: 590px;
    height: 390px;
    /* background: radial-gradient(circle, rgba(158,17,245,0.13491334033613445) 0%, rgba(158,17,245,0) 41%); */
    top:-300px;
    right: 0;
    position: absolute;
    background: #11F5CC;
    filter: blur(200px);
    opacity: .3;
  } 
}

[data-theme] {
  overflow: hidden;

  &:after{
    content: "";
    display: block;
    width: 390px;
    height: 590px;
    background: #11F5CC;
    top:50%;
    margin-top: 200px;
    left: -440px;
    position: absolute;
    filter: blur(100px);
    opacity: .2;
  }
  
  &:before{
    content: "";
    display: block;
    width: 590px;
    height: 290px;
    background: #9E11F5;
    bottom:0;
    left: 50%;
    margin-left: -290px;
    position: absolute;
    filter: blur(100px);
    opacity: .1;

    @media only screen and (max-width: 680px) {
      width: 490px;
    }
  } 


}
:root, [data-theme]{
}

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    height: fit-content;
    /* --glass-reflex-opacity: 0;
    --glass-opacity: .1 */
  }
}
@layer components {
  /* .current {
    @apply 'bg-gray-900 text-white';
  }
 */
}

/* theme variables override */
[data-theme=gtTheme] {
  --rounded-box: .5rem;
}
